#navbar {
    border-bottom: solid #a60101 5px;
    font-size: 18px;
    padding: 1rem 0 1rem 0;
    font-family: Quicksand, sans-serif;
}

.nav-home {
    margin: 2em;
    text-decoration: none;
}

#toggle {
    vertical-align: middle;
    margin-left: 1em;
}