h2 {
    text-align: center;
}

.test {
    text-align: center;
}

.next-question {
    background-color: #f2ffe7;
}

.question-box {
    text-align: center;
    margin: 10vh;
}

.question {
    font-size: 20px;
    font-weight: 500;
}